<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viewjobs</title>
</head>
<body>
<div class="container"></div>
{% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
        {% for result in results %}
            <div class="card" style="width: 18rem;">

              <div class="card-body">
                  <h5 class="card-title"><h1>{{result.company_name}}</h1></h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Position:{{result.job_role}}</li>
                <li class="list-group-item">Experience:{{result.experience}}</li>
                <li class="list-group-item">Location:{{result.location}}</li>
              </ul>
              <div class="card-body">
                <button type="submit"><a href="#" class="card-link">Apply</a></button>
                  <button type="submit"><a href="#" class="card-link">Company details</a></button>
              </div>
            </div>
        {% endfor %}
    {% else %}
        No search results!!!
    {% endif %}
{% endif %}
</div>
</body>
</html>